<header class="bg-blue-400 p-4">
  <nav class="flex justify-between mx-auto container items-center">
<<<<<<< HEAD
    <div class="text-4xl">Sample Tailwindcss</div>
    <div class="space-x-12 font-bold">
      <a href="" class="hover:text-green-200">ホーム</a>
      <a href="" class="hover:text-green-200">ブログ</a>
      <a href="" class="hover:text-green-200">お問い合わせ</a>
=======
    <div>Sample Tailwindcss</div>
    <div>
      <a href="">ホーム</a>
      <a href="">ブログ</a>
      <a href="">お問い合わせ</a>
>>>>>>> 08400668c0a9c9b7256a22eacb4f38cd1fcf7b00
    </div>
  </nav>
</header>
