<header class="bg-blue-400 p-4">
  <nav class="flex justify-between mx-auto container items-center">
    <div>Sample Tailwindcss</div>
    <div>
      <a href="">ホーム</a>
      <a href="">ブログ</a>
      <a href="">お問い合わせ</a>
    </div>
  </nav>
</header>
